.align-center{
    align-items: center;
    margin:auto;
    width: fit-content;
    }

    .align-img{
    padding-top: 15px;    
    margin: auto;
    align-items: center;
    display: block;
        }