<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar [(ngModel)]="searchMovie" (ionChange)="search($event)" placeholder="Search movie"></ion-searchbar>

    <ion-list *ngIf="(movies|async) as movieData">
      <ion-list-header>
        Movies
      </ion-list-header>

      <ion-item *ngFor="let movie of movieData">
        <ion-avatar slot="start">
          <img [src]="movie.Poster">
        </ion-avatar>
        <ion-label>
          <h2>{{movie.Title}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
 
</ion-content>

